In [2]:
import numpy as np
import pandas as pd

arr = np.random.standard_normal((10, 5))  # создать 2-мерный массив со случайными величинами с нормальным распределением
df = pd.DataFrame(arr)
df

          0         1         2         3         4
0 -0.476473 -0.455775 -1.241204 -1.139026 -0.516083
1 -1.060998  0.627175  0.792452  0.831093  1.411354
2 -0.140490 -0.370728 -0.762902  0.026820 -0.863308
3 -0.962678  0.159364 -0.268781 -0.105657 -0.441481
4 -1.164944  0.407735 -0.712458  0.282742  0.379632
5  1.149309 -0.086439 -1.711424  1.182175 -0.337429
6 -1.251944 -0.856607 -1.225993  0.033785  0.948274
7 -0.200751  0.700399  0.605030  1.350742 -1.072777
8 -0.423827  0.847313  1.920423 -0.658529 -0.246276
9 -0.156781  0.009726 -0.881913  0.187279  0.825448

In [4]:
df.columns = list("ABCDE")  # Добавить имена столбцов
df

          A         B         C         D         E
0 -0.476473 -0.455775 -1.241204 -1.139026 -0.516083
1 -1.060998  0.627175  0.792452  0.831093  1.411354
2 -0.140490 -0.370728 -0.762902  0.026820 -0.863308
3 -0.962678  0.159364 -0.268781 -0.105657 -0.441481
4 -1.164944  0.407735 -0.712458  0.282742  0.379632
5  1.149309 -0.086439 -1.711424  1.182175 -0.337429
6 -1.251944 -0.856607 -1.225993  0.033785  0.948274
7 -0.200751  0.700399  0.605030  1.350742 -1.072777
8 -0.423827  0.847313  1.920423 -0.658529 -0.246276
9 -0.156781  0.009726 -0.881913  0.187279  0.825448

In [7]:
df["B"].mean()  # Вывести среднюю

0.09821613039842524

In [9]:
dates = pd.date_range('2023-1-1', periods=10, freq="M") # создать объект datetime
dates

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-30',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-30', '2023-10-31'],
              dtype='datetime64[ns]', freq='M')

In [10]:
df.index = dates # добавили индекс datetime к таблице созданной ранее
df

                   A         B         C         D         E
2023-01-31 -0.476473 -0.455775 -1.241204 -1.139026 -0.516083
2023-02-28 -1.060998  0.627175  0.792452  0.831093  1.411354
2023-03-31 -0.140490 -0.370728 -0.762902  0.026820 -0.863308
2023-04-30 -0.962678  0.159364 -0.268781 -0.105657 -0.441481
2023-05-31 -1.164944  0.407735 -0.712458  0.282742  0.379632
2023-06-30  1.149309 -0.086439 -1.711424  1.182175 -0.337429
2023-07-31 -1.251944 -0.856607 -1.225993  0.033785  0.948274
2023-08-31 -0.200751  0.700399  0.605030  1.350742 -1.072777
2023-09-30 -0.423827  0.847313  1.920423 -0.658529 -0.246276
2023-10-31 -0.156781  0.009726 -0.881913  0.187279  0.825448

In [11]:
df.info() # получить данные об объекте df

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-01-31 to 2023-10-31
Freq: M
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       10 non-null     float64
 1   B       10 non-null     float64
 2   C       10 non-null     float64
 3   D       10 non-null     float64
 4   E       10 non-null     float64
dtypes: float64(5)
memory usage: 480.0 bytes

In [12]:
df.describe() # получить статистические данные об объекте df

               A          B          C          D          E
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.468958   0.098216  -0.348677   0.199142   0.008735
std     0.714135   0.556131   1.124404   0.772820   0.833185
min    -1.251944  -0.856607  -1.711424  -1.139026  -1.072777
25%    -1.036418  -0.299656  -1.139973  -0.072538  -0.497433
50%    -0.450150   0.084545  -0.737680   0.110532  -0.291853
75%    -0.167774   0.572315   0.386577   0.694005   0.713994
max     1.149309   0.847313   1.920423   1.350742   1.411354

In [13]:
df.sum() # получить суммы по столбцам

A   -4.689576
B    0.982161
C   -3.486771
D    1.991424
E    0.087352
dtype: float64

In [14]:
df.mean() # получить среднее по столбцам

A   -0.468958
B    0.098216
C   -0.348677
D    0.199142
E    0.008735
dtype: float64

In [17]:
df.mean(axis=1) # получить среднее по строкам

2023-01-31   -0.765712
2023-02-28    0.520215
2023-03-31   -0.422122
2023-04-30   -0.323847
2023-05-31   -0.161459
2023-06-30    0.039238
2023-07-31   -0.470497
2023-08-31    0.276528
2023-09-30    0.287821
2023-10-31   -0.003248
Freq: M, dtype: float64

In [18]:
df.cumsum() # получить куммулятивную сумму

                   A         B         C         D         E
2023-01-31 -0.476473 -0.455775 -1.241204 -1.139026 -0.516083
2023-02-28 -1.537470  0.171400 -0.448752 -0.307933  0.895270
2023-03-31 -1.677960 -0.199329 -1.211655 -0.281112  0.031962
2023-04-30 -2.640638 -0.039965 -1.480435 -0.386769 -0.409519
2023-05-31 -3.805582  0.367769 -2.192894 -0.104027 -0.029887
2023-06-30 -2.656273  0.281330 -3.904318  1.078147 -0.367316
2023-07-31 -3.908216 -0.575277 -5.130311  1.111932  0.580957
2023-08-31 -4.108968  0.125122 -4.525281  2.462674 -0.491819
2023-09-30 -4.532795  0.972435 -2.604858  1.804146 -0.738095
2023-10-31 -4.689576  0.982161 -3.486771  1.991424  0.087352

Полезные функции:
.mean(skipna = True)	Возвращает среднюю величину для каждого столбца, пропуск NaN (по умолчанию True)
.median(skipna = True)	Возвращает медиану для каждого столбца, пропуск NaN (по умолчанию True)
.mode(dropna = True)	Возвращает медиану для каждого столбца, пропуск NaN
.var()	Возвращает дисперсию
.std()	Возвращает стандартное отклонение
.diff()	Возвращает абсолютную разность индексируемых значений
.unique()	Возвращает список уникальных значений
.value_counts()	Подсчитывает количество каждого уникального значения
.describe()	Даёт расширенное описание

In [19]:
np.mean(df,axis=0) # К объектам DataFrame также можно применять универсальные функции NumPy. Пример mean

A   -0.468958
B    0.098216
C   -0.348677
D    0.199142
E    0.008735
dtype: float64

In [20]:
np.sqrt(abs(df)) # К объектам DataFrame также можно применять универсальные функции NumPy. Пример: sqrt, abs

                   A         B         C         D         E
2023-01-31  0.690270  0.675111  1.114094  1.067251  0.718389
2023-02-28  1.030047  0.791944  0.890198  0.911643  1.188004
2023-03-31  0.374819  0.608875  0.873443  0.163769  0.929144
2023-04-30  0.981162  0.399204  0.518441  0.325049  0.664440
2023-05-31  1.079326  0.638541  0.844073  0.531735  0.616143
2023-06-30  1.072058  0.294005  1.308214  1.087278  0.580887
2023-07-31  1.118903  0.925531  1.107246  0.183808  0.973794
2023-08-31  0.448053  0.836898  0.777837  1.162214  1.035749
2023-09-30  0.651020  0.920496  1.385793  0.811498  0.496262
2023-10-31  0.395956  0.098622  0.939102  0.432757  0.908541

In [21]:
np.sqrt(abs(df)).sum() # К объектам DataFrame также можно применять универсальные функции NumPy. Пример: sqrt, abs, sum

A    7.841615
B    6.189227
C    9.758440
D    6.677003
E    8.111353
dtype: float64

In [22]:
100 * df + 100 # Также можно применять простые операции

                     A           B           C           D           E
2023-01-31   52.352738   54.422494  -24.120435  -13.902566   48.391666
2023-02-28   -6.099781  162.717481  179.245205  183.109300  241.135352
2023-03-31   85.951046   62.927150   23.709772  102.682033   13.669200
2023-04-30    3.732161  115.936365   73.121927   89.434296   55.851920
2023-05-31  -16.494359  140.773459   28.754158  128.274205  137.963160
2023-06-30  214.930904   91.356081  -71.142415  218.217452   66.257053
2023-07-31  -25.194354   14.339284  -22.599333  103.378526  194.827392
2023-08-31   79.924861  170.039889  160.502996  235.074171   -7.277688
2023-09-30   57.617291  184.731307  292.042332   34.147137   75.372401
2023-10-31   84.321854  100.972621   11.808672  118.727887  182.544751