In [4]:
import pandas as pd

df = pd.DataFrame([10,26,30,40], columns = ["Целые"],index = list("ABCD")) # Создать таблицу
df

   Целые
A     10
B     26
C     30
D     40

In [5]:
df.index # Вывести все индексы

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
df.columns

Index(['Целые'], dtype='object')

In [7]:
df.loc["C"] # Вывод по значению строки

Целые    30
Name: C, dtype: int64

In [8]:
df.loc[["A","D"]] # Вывод по значениям строк

   Целые
A     10
D     40

In [10]:
df.iloc[1:3] #вывод по индексу

   Целые
B     26
C     30

In [12]:
df.sum() # вывести сумму всех значений

Целые    106
dtype: int64

In [ ]:
df_copy = df.copy(deep=True) # Создать глубокую копию

In [13]:
df["Вещественные"] = (1.5,2.5,3.5,4.5) # Добавить столбец
df

   Целые  Вещественные
A     10           1.5
B     26           2.5
C     30           3.5
D     40           4.5

In [15]:
df["Имена"] = pd.DataFrame(["Андрей", "Серегей", "Борис", "Дмитрий"],index=list("ACBD")) # Добавить столбец
df

   Целые  Вещественные    Имена
A     10           1.5   Андрей
B     26           2.5    Борис
C     30           3.5  Серегей
D     40           4.5  Дмитрий

In [24]:
df_a = pd.DataFrame({"Целые": 50, "Вещественные": 5.5, "Имена": "Евгений"},index=['E'])
df = pd.concat([df, df_a], axis=0) # Добавить строку
df

   Целые  Вещественные    Имена
A     10           1.5   Андрей
B     26           2.5    Борис
C     30           3.5  Серегей
D     40           4.5  Дмитрий
E     50           5.5  Евгений

In [25]:
df[["Целые","Вещественные"]].mean() # Найти средние значения

Целые           31.2
Вещественные     3.5
dtype: float64

In [31]:
df["Удалить"] = pd.DataFrame(list("12345"),index=list("ABCDE")) # Добавить столбец
df

   Целые  Вещественные    Имена Удалить
A     10           1.5   Андрей       1
B     26           2.5    Борис       2
C     30           3.5  Серегей       3
D     40           4.5  Дмитрий       4
E     50           5.5  Евгений       5

In [41]:
df = df.drop(['Удалить'],axis=1) # Удалить столбец
df

   Целые  Вещественные    Имена
A     10           1.5   Андрей
B     26           2.5    Борис
C     30           3.5  Серегей
D     40           4.5  Дмитрий
E     50           5.5  Евгений